
<footer id="footer" style="margin-top: 50px;">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-content">
          <h3>Fashion</h3>
          <p>Designed & Maintained by RHM</p>
          <p>
            Maharashtra <br>
            India <br>
            Nepal <br>
          </p>
          <strong><i class="fas fa-phone"></i> Phone: <strong>+919168459662</strong></strong><br>
          <strong><i class="fa-solid fa-envelope"></i> Email: <strong>santoshmorya8&#64;gmail.com</strong></strong>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Usefull Links</h4>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Privacy policay</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Clother</a></li>
            <li><a href="#">Electronic</a></li>
            <li><a href="#">Shoes</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container py-4">
    <div class="copyright">
      &copy; Copyright <strong>RHM</strong>.All Rights Reserved
    </div>
    <div class="credits">
      Designed By <a href="#">RHM</a>
    </div>
  </div>
</footer>

