
<div class="banner2">
  <div class="content2">
    <h1>Get More Product</h1>
    <div id="bannerbtn2"><button>SHOP NOW</button></div>
  </div>
</div>

<div class="container" id="product-cards">
  <div class="row" style="margin-top: 30px;">
    <div class="col-md-3 py-3 py-md-0">
      <div class="card">
        <img src="/assets/image/shopping/p1.png" alt="">
        <div class="card-body">
          <h3>Girls Heel</h3>
          <p>aaaa</p>
          <div class="star">
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
          </div>
          <h5> Rs. <span><i class="fa-solid fa-cart-shopping"></i></span></h5>
        </div>
      </div>
    </div>
    <div class="col-md-3 py-3 py-md-0">
      <div class="card">
        <img src="/assets/image/shopping/p2.png" alt="">
        <div class="card-body">
          <h3>Men Hoodie</h3>
          <p>bbbb</p>
          <div class="star">
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
          </div>
          <h5>Rs.  <span><i class="fa-solid fa-cart-shopping"></i></span></h5>
        </div>
      </div>
    </div>
    <div class="col-md-3 py-3 py-md-0">
      <div class="card">
        <img src="/assets/image/shopping/p3.png" alt="">
        <div class="card-body">
          <h3>Smart Watch</h3>
          <p>cccc</p>
          <div class="star">
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
          </div>
          <h5>Rs.  <span><i class="fa-solid fa-cart-shopping"></i></span></h5>
        </div>
      </div>
    </div>
    <div class="col-md-3 py-3 py-md-0">
      <div class="card">
        <img src="/assets/image/shopping/p4.png" alt="">
        <div class="card-body">
          <h3>Men T-Shirt</h3>
          <p>ddd</p>
          <div class="star">
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
          </div>
          <h5>Rs. <span><i class="fa-solid fa-cart-shopping"></i></span></h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 30px;">
    <div class="col-md-3 py-3 py-md-0">
      <div class="card">
        <img src="/assets/image/shopping/p5.png" alt="">
        <div class="card-body">
          <h3>Hand Bag</h3>
          <p>eeee</p>
          <div class="star">
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
          </div>
          <h5>Rs.  <span><i class="fa-solid fa-cart-shopping"></i></span></h5>
        </div>
      </div>
    </div>
    <div class="col-md-3 py-3 py-md-0">
      <div class="card">
        <img src="/assets/image/shopping/p6.png" alt="">
        <div class="card-body">
          <h3>Sport Shoes</h3>
          <p>ffff</p>
          <div class="star">
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
          </div>
          <h5>Rs.  <span><i class="fa-solid fa-cart-shopping"></i></span></h5>
        </div>
      </div>
    </div>

    <div class="col-md-3 py-3 py-md-0">
      <div class="card">
        <img src="/assets/image/shopping/p7.png" alt="">
        <div class="card-body">
          <h3>Girls Heel</h3>
          <p>gggg</p>
          <div class="star">
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
          </div>
          <h5>Rs.  <span><i class="fa-solid fa-cart-shopping"></i></span></h5>
        </div>
      </div>
    </div>
    <div class="col-md-3 py-3 py-md-0">
      <div class="card">
        <img src="/assets/image/shopping/p8.png" alt="">
        <div class="card-body">
          <h3>Means Jeans</h3>
          <p>hhhh</p>
          <div class="star">
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
          </div>
          <h5>Rs.  <span><i class="fa-solid fa-cart-shopping"></i></span></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 30px;">
    <div class="col-md-3 py-3 py-md-0">
      <div class="card">
        <img src="/assets/image/shopping/p9.jpg" alt="">
        <div class="card-body">
          <h3>Dark Pant</h3>
          <p>iiii</p>
          <div class="star">
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
          </div>
          <h5>Rs. <span><i class="fa-solid fa-cart-shopping"></i></span></h5>
        </div>
      </div>
    </div>
    <div class="col-md-3 py-3 py-md-0">
      <div class="card">
        <img src="/assets/image/shopping/p10.jpg" alt="">
        <div class="card-body">
          <h3>Mwalk Billies</h3>
          <p>jjjj</p>
          <div class="star">
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
          </div>
          <h5>Rs. <span><i class="fa-solid fa-cart-shopping"></i></span></h5>
        </div>
      </div>
    </div>
    <div class="col-md-3 py-3 py-md-0">
      <div class="card">
        <img src="/assets/image/shopping/p11.jpg" alt="">
        <div class="card-body">
          <h3>Sweet Shirt</h3>
          <p>kkkk</p>
          <div class="star">
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
          </div>
          <h5>Rs. <span><i class="fa-solid fa-cart-shopping"></i></span></h5>
        </div>
      </div>
    </div>
    <div class="col-md-3 py-3 py-md-0">
      <div class="card">
        <img src="/assets/image/shopping/p12.jpg" alt="">
        <div class="card-body">
          <h3>Black T-Shirt</h3>
          <p>llll</p>
          <div class="star">
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
          </div>
          <h5>Rs. <span><i class="fa-solid fa-cart-shopping"></i></span></h5>
        </div>
      </div>
    </div>
  </div>
</div>

