
<div class="shopping">
  <div class="shop-box">
    <div class="box-content">
      <h1>Bathroon Accessories</h1>
      <img src="assets/image/home/Bathroom.jpg" height="608" width="758">
      <a href="">See More</a>
    </div>
  </div>
  <div class="shop-box">
    <div class="box-content">
      <h1>Furniture</h1>
      <img src="assets/image/home/Furniture.jpg" alt="">
      <a href="">See More</a>
    </div>
  </div>
  <div class="shop-box">
    <div class="box-content">
      <h1>Mobile Phones</h1>
      <img src="assets/image/home/Mobile.jpg" alt="">
      <a href="">See More</a>
    </div>
  </div>
  <div class="shop-box">
    <div class="box-content">
      <h1>Make up</h1>
      <img src="assets/image/home/Makeup.jpg" alt="">
      <a href="">See More</a>
    </div>
  </div>
  <div class="shop-box">
    <div class="box-content">
      <h1>Pet shop</h1>
      <img src="assets/image/home/Pet.jpg" alt="">
      <a href="">See More</a>
    </div>
  </div>
  <div class="shop-box">
    <div class="box-content">
      <h1>Stationary</h1>
      <img src="assets/image/home/Station.jpg" alt="">
      <a href="">See More</a>
    </div>
  </div>
  <div class="shop-box">
    <div class="box-content">
      <h1>Garmets</h1>
      <img src="assets/image/home/Electr.jpg" alt="">
      <a href="">See More</a>
    </div>
  </div>
  <div class="shop-box">
    <div class="box-content">
      <h1>Electronics Accessories</h1>
      <img src="assets/image/home/Fuji_Dash_Electronics_2x._SY608_CB432774322_.jpg" alt="">
      <a href="">See More</a>
    </div>
  </div>
</div>

